<!--

    Copyright © 2011-2012 Akiban Technologies, Inc.  All rights reserved.
    
    This program and the accompanying materials are made available
    under the terms of the Eclipse Public License v1.0 which
    accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
    
    This program may also be available under different license terms.
    For more information, see www.akiban.com or contact licensing@akiban.com.
    
    Contributors:
    Akiban Technologies, Inc.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK" />
        <property name="location" value="classpath:persistit.properties" />
    </bean>

    <bean id="persistit" class="com.persistit.Persistit" init-method="initialize">
        <property name="configuration">
            <bean class="com.persistit.Configuration">
                <property name="bufferPoolConfiguration" value="8192,count=${buffer.count.8192}" />
                <property name="volumeList">
                    <list>
                        <bean class="com.persistit.VolumeSpecification">
                            <constructor-arg value="${volume.1}" />
                        </bean>
                    </list>
                </property>
                <property name="journalPath" value="${journalpath}" />
            </bean>
        </property>
    </bean>

    <bean id="testClient" class="SpringFrameworkDemo.TestClient">
        <constructor-arg>
            <ref local="persistit" />
        </constructor-arg>
    </bean>

</beans>